{% load static %}
{% load ratings %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>THE BEST MEMES</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/memes.css' %}">
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/ico" href="/media/favicon/favicon.ico">
    </head>
    <body>
        <div class="page-header d-flex">
            <h1><a href="/">THE BEST MEMES</a></h1>   
            {% if user.is_authenticated %}
                <div class="mems_menu">
                    <p class="top-menu">Hello {{ user.username }}</p>
                    <a href="{% url 'mem_new' %}" class="top-menu"><span class="fas fa-plus-square"></span></a> 
                    <a href="{% url 'mem_draft_list' %}" class="top-menu"><span class="fas fa-edit"></span></a>
                    <a href="{% url 'logout' %}" class="top-menu"><span class="fas fa-sign-out-alt"></span></a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="fas fa-sign-in-alt"></span></a>
            {% endif %}
        </div>

        <div class="content container">
            <div class="mem_nav">
                <a href="{% url 'mem_list' %}" class="btn btn-primary">Just Memes</a>
                <a href="{% url 'memology_list' %}" class="btn btn-primary">Memology</a>
            </div>
            <div class="row mem">
                <div clas="col-md-8">
                {% block content %}
                {% endblock %}
                <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
                </div>     
            </div>
        </div>
    </body>
</html>