{% extends "memes/base.html" %}

{% block content %}
    <div class="mem">
        {% if mem.published_date %}
            <div class="date">
                {{ mem.published_date }}
            </div>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'mem_publish' pk=mem.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'mem_edit' pk=mem.pk %}"><span class="fas fa-marker"></span></a>
            <a class="btn btn-secondary" href="{% url 'mem_remove' pk=mem.pk %}"><span class="fas fa-trash-alt"></span></a>
        {% endif %}
        <h1>{{ mem.title }}</h1>
        <div class="text">
            <p><a href="{{ mem.mem_image.url }}"><img src="{{ MEDIA_URL }}{{ mem.mem_image.url }}" alt="BIBA"></a></p>
            {% if mem.mem_history %}
                <div class="mem_history">
                    {{ mem.mem_history }}
                </div>
        </div>
        {% endif %}
    </div>
    <hr>
    <a class="btn btn-secondary" href="{% url 'add_comment_to_mem' pk=mem.pk %}">Add comment</a>
    {% for comment in mem.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-secondary" href="{% url 'comment_remove' pk=comment.pk %}"><span class="fas fa-trash-alt"></span></a>
                <a class="btn btn-secondary" href="{% url 'comment_approve' pk=comment.pk %}"><span class="fas fa-check"></span></a>
            {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(9(</p>
    {% endfor %}
{% endblock %}