{% extends "memes/base.html" %}

{% block content %}
    {% for memchik in memeses %}
        <div class="memchik">
            <h1><a href="{% url 'mem_detail' pk=memchik.pk %}">{{ memchik.title }}</a></h1>
            <p><a href="{{ memchik.mem_image.url }}"><img src="{{ MEDIA_URL }}{{ memchik.mem_image.url }}" alt="BIBA"></a></p>
            <p class="date">created: {{ memchik.created_date|date:'d-m-Y'}}</p>
        </div>
    {% endfor %}
{% endblock %}