{% extends 'memes\base.html' %}
{% load ratings %}
{% load static %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdown_pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/memology_list.css' %}">
    {% csrf_token %}
    {% for memchik in memesy %}
        <div class="memchik">
            <h1><a href="{% url 'mem_detail' pk=memchik.pk %}">{{ memchik.title }}</a></h1>
            <div class="text">
                <a href="{{ memchik.mem_image.url }}"><img src="{{ MEDIA_URL }}{{ memchik.mem_image.url }}" alt="BIBA"></a>
                <div class="mem_history">
                    <p>{{ memchik.mem_history }}</p>
                </div>
            </div>
            <a href="{% url 'mem_detail' pk=memchik.pk %}">Comments: {{ memchik.approved_comments.count }}</a>
            <div class="date">
                <p>published: {{ memchik.published_date }} by {{ memchik.author }}</p>
            </div>
        </div>
        
        {% ratings memchik %}
    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if memesy.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ memesy.previous_page_number }}">{{ memesy.previous_page_number }}</a></li>
            {% endif %}
                
            <li class="page-item"><a class="page-link" href="?page={{ memesy.number }}">{{ memesy.number }}</a></li>
                
            {% if memesy.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ memesy.next_page_number }}">{{ memesy.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ memesy.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
        </span>
        </ul>
    </nav>

{% endblock content %}