{% extends "memes/base.html" %}
{% load static %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="form_container">
        <form method="POST" action="{% url 'login' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        {% csrf_token %}
            <div class="imgcontainer">
                <img src="/media/avatar/avatar_icon.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit" value="login">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn"><a href="/">Cancel</button></a>
                <span class="password">Forgot <a href="{% url 'password_reset' %}">password?</a></span>
                <p class = "register"><a href="/register">Not registered yet? Sign up</a></p>
            </div>
        </form>    
    </div>
{% endblock %}



    {% comment %} <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <p class = "register"><a href="/register">Not registered yet? Sign up</a></p>
    </form>
{% endblock %} {% endcomment %}