{% extends "memes/base.html" %}
{% load static %}

{% block content %}
    <div class="wrapp_form">
        <form action="/register/" method="POST">
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
            {% csrf_token %}
            {% for field in register_form %}
                <div class="form-group register_style">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                </div>
            {% endfor %}
<input type="submit" value="SIGN UP" class="submit_auth">
        </form>
    </div>
{% endblock %}
