/* line 3, ../sass/star-ratings.scss */
.star-ratings {
  display: inline-block;
  position: relative;
}
/* line 7, ../sass/star-ratings.scss */
.star-ratings ul {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  list-style: none outside none;
  overflow: hidden;
}
/* line 14, ../sass/star-ratings.scss */
.star-ratings ul li {
  display: inline-block;
}

/* line 20, ../sass/star-ratings.scss */
.star-ratings-rating-full, .star-ratings-rating-empty {
  display: block;
  background: url("/static/star-ratings/images/stars.png") no-repeat;
  border: 0;
}

/* line 26, ../sass/star-ratings.scss */
.star-ratings-rating-foreground {
  top: 0;
  position: absolute;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 34, ../sass/star-ratings.scss */
.star-ratings-rating-stars-container {
  display: inline-block;
  position: relative;
}


.rate {
  display: flex;
  max-width: 310px;
  border: 1px solid white;
  background-color: #72e7ba;
}

.star-ratings-rating-average,
.star-ratings-rating-count,
.star-ratings-rating-user,
.please_login {
  padding: 5px;
  border-right: 1px solid white;
  color: white;
}

.star-ratings-rating-user,
.please_login {
  border: none;
}