.dropdown {

    position: relative;
    display: inline-block;
    background: #128a40;
    padding: 10px;
    color: white;
    max-height: 50px;
    margin-top: 20px;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}