.page-header {
    background-color: #72e7ba;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    justify-content: space-between;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color:  #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;

}

img {
    width: 300px;
    height: 300px;
    display: block;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.mem {
    justify-content: center;
    margin-top: 20px;
}

.mem_nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 105px;
    left: 0;
    
}

.mem_nav a {
    text-decoration: none;
    background-color: #72e7ba;
    border: 1px solid white;
    font-size: 30px;
    padding: 0 45px;
}

.memchik {
    margin-top: 20px;
}

.pagination {
    margin-top: 50px;
}

.mem_history {

    display: inline-block;
    margin-left: 50px;
    max-width: 500px;
    word-wrap: break-word;
}

.text {
    display: flex;
}